# Assignment2

Use the Geocoder package or the csv file to create a dataframe

Import libraries

In [2]:
import pandas as pd
import numpy as np
import geocoder

In [4]:
data=pd.read_csv('Geospatial_Coordinates.csv')

In [5]:
data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Read the data created last stage

In [7]:
data2=pd.read_csv('data2.csv')
data2.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Malvern, Rouge
1      M1C  Scarborough  Highland Creek, Port Union, Rouge Hill
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

Get the Latitude and Longitude using the geocoder

In [8]:
def get_latlng(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    return lat_lng_coords
    
get_latlng('M4G')

[43.70976500000006, -79.36390090899994]

In [14]:
post_codes = data2['Postcode']    
coords = [ get_latlng(post_code) for post_code in post_codes.tolist() ]

In [18]:
coords=pd.DataFrame(coords,columns=['Latitude','Longitude'])

In [19]:
coords.head()

    Latitude  Longitude
0  43.811525 -79.195517
1  43.785730 -79.158750
2  43.765690 -79.175256
3  43.768359 -79.217590
4  43.769688 -79.239440

Concat the two dataframe

In [27]:
data2['Latitude']=coords['Latitude']
data2['Longitude']=coords['Longitude']

In [29]:
data2.head(10)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.811525,-79.195517
1,M1C,Scarborough,"Highland Creek, Port Union, Rouge Hill",43.785730,-79.158750
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.765690,-79.175256
3,M1G,Scarborough,Woburn,43.768359,-79.217590
4,M1H,Scarborough,Cedarbrae,43.769688,-79.239440
5,M1J,Scarborough,Scarborough Village,43.743125,-79.231750
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.726245,-79.263670
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.713133,-79.285055
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.723575,-79.234976
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.696665,-79.260163

In [32]:
data2.to_csv(r'C:\Users\ThinkPad\data3.csv',index=False)